/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

main{

    font-size: 3em;
    font-weight: bold;
   padding: 100px;}
p{
    display:flex ;
    flex-direction: column-reverse;

}
#testoAlternato{
    border: 4px solid gray ;
   margin: 35px;
     position: relative;
}

.parole{
    
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    /* margin-left: 240px; */
    
   

   color: white;
   background-color: white;
}
.text1{
position: absolute;
top: 40%;
    left: 33%;
    color: rgba(77, 19, 19, 0);
   
}
.text2{
    position: absolute;
top: 40%;
    left: 33%;

    color: rgba(126, 17, 17, 0);
}
.text3{
    position: absolute;
    top: 40%;
        left: 33%;

    color: rgba(126, 38, 38, 0);
}

/* LE PAROLE APPAIONO 1s RUOTANO E SPARISCONO    */
@keyframes delete{
    0%{
        transform: translateY(42px);
       color: lightslategray;
    }
    100%{
      color: rgba(255, 255, 255, 0);
 /* transform:  rotate(300deg); */
    }
}
.text1{
    animation: delete 5s linear 1s forwards ;
}

 @keyframes delete2{
    0%{ 
        transform: translateY(42px);
       color: lightslategray;
    }
    100%{
      color: rgba(255, 255, 255, 0);
      /* transform:  rotate(900deg); */
    } 
 }
 .text2{
    animation: delete2 5s linear 5s forwards;
} 

@keyframes delete3{
    0%{
        transform: translateY(42px);
       color: lightslategray;
    }
   
    100%{
      color: rgba(255, 255, 255, 0);
      /* transform:  rotate(900deg); */
    } 
 }
  .text3{
    animation: delete3 5s linear 10s forwards;
}  




/* RUOTA MA LE PAROLE NON SPARISCONO ALLA FINE */

 /* @keyframes animation1{
    0%{
    transform: translate(0, 100px);
   
    }
    50%{
      color: black;
    }
  
    100%{ 
        color: lightslategray;
        
 z-index: 1;
}

}

.text1{
    animation: animation1 5s linear 0s forwards ;
} 


 @keyframes animation2{
    0%{
    transform:  rotate(300deg);
    }
    50%{
       color: black;
        
    }
    100%{
        color: lightslategray;
          z-index: 2;

    }
} 
.text2{
    animation: animation2 5s linear 9s forwards;
} 
  @keyframes animation3{
    0%{
    transform: rotate(500deg);
   
    }
    50%{
           color: black;
    }
    80%{
  color: lightslategray;;
      
    }
    100%{
    color: black;
     
       z-index: 3;
    }
} 
.text3{
    animation: animation3 9s linear 12s forwards;
}   



 */